@supports (display: grid) or (display: contents) {
    @media screen and (min-width: 768px) {
      main {
          display: grid;
          grid-template-columns: 3fr 9fr;
          grid-template-rows: auto;  
      }
      #map {
	  height: 100%;
      }
    }
    @media screen and (max-width: 767px) {
      aside {
          margin-bottom: 2em;
      }
      #app_listview strong {
	  font-size: 20px;
      }
      #map {
          height: 75vh;
      }
    }
   
}
