@media only screen and (max-width: 900px) {
    header nav {
        top: 0;
        height: 100px;
    }
    header nav .menu {
        background-color: #8cc645;
        box-orient: vertical;
        box-direction: normal;
        flex-direction: column;
        position: absolute;
        top: 100px;
        width: 100%;
        transition: background .5s, left .5s ease;
        text-align: center;
        left: -100%;
    }
    header nav .menu > li > a {
        color: #FFF;
        border-radius: 0;
        margin: 0;
        padding: 20px 0;
        font-weight: bold;
        font-size: 1.2em;
    }
    header nav > ul > li::before,
    header nav .menu > li:hover > a::after {
        display: none;
    }
    .open-menu {
        left: 0 !important;
    }
    #btn-menu {
        display: block;
        width: 100%;
        height: inherit;
        cursor: pointer;
        background-color: #8cc645;
    }
    .side-image {
        position: absolute;
        left: 5px;
        bottom: -5px;
    }
    .side-image {
        display: block;
    }
    .side-image img {
        max-height: 100px;
        max-width: 64px;
    }
    #btn-menu span {
        color: #FFF;
        position: absolute;
        right: 0;
        padding: 30px 20px;
        font-size: 3em;
        line-height: 20px;
    }
    main {
        max-width: 90%;
        margin: auto;
        margin-top: 80px;
    }  
    #side-map img {
        width: 100%;
    } 
    #copyright {
        position: relative;
        bottom: 0;
        width: 100%;
        line-height: 100%;
        font-size: 80%;
        text-align: center;
    } 
}
@media (min-width: 901px) {
    /*.side-image {
        position: relative;
        margin-left: -50px;
    }*/

    header nav .menu {
        margin-right: -70px;
        margin-left: 120px;
    }
    main {
        max-width: 90%;
        margin: auto;
        height: 60vh;
        margin-top: 150px;
    }
    aside {
        margin-top: 6em;
    }
    #copyright {
        width: 100%;
        line-height: 100%;
        font-size: 80%;
        text-align: center;
        position: absolute;
        bottom: 18px;
        left: 0px;
    }
}
@media (min-width: 1390px){
    main {
        max-width: 60%;
    }
}